.button-tabs{
    padding: .7rem 1rem;
    border-radius: 5px;
    font-weight: 600;
}

.active{
    color:#e2e1dd;
    background: #686DE0;
    box-shadow: inset 5px 5px 10px #5256b1,
                inset -5px -5px 10px #7e84ff;
}

.button-tabs:hover{
    background-color: #e2e1dc;
    transform: scale(1.1);
}

.button-tabs:active{
    color:#e2e1dd;
    background-color: #686DE0;
    box-shadow: inset 5px 5px 10px #5256b1,
                inset -5px -5px 10px #7e84ff;
}

.active:hover{
    background: #686DE0;
    box-shadow:  5px 5px 10px #bebdba,
             	-5px -5px 10px #ffffff;

}