.float-button{
    bottom:40px;
    right:20px;
    font-size: 1rem;
    text-align:center;
    border-radius: 2rem;
    width:60px;
    height:60px;
    z-index: 10;
}

.float:hover{
    transform: scale(1.1);
}

.float:active {
    color: #31344b;
    background-color: #e6e7ee;
    border-color: #e6e7ee;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

.float .icon{
    width: 2.5rem;
}

/* Responsive */
/* For Mobile Device */
@media (max-width: 640px) {
    .float{
        display: block !important;
    }
}