.footer{
    display: none;
}

.footer i{
    font-style: italic;
}

/* Responsive */
/* For Mobile Device */
@media (max-width: 640px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
}