.input-text{
    width: 100%;
    height: 40px;
    position: relative;
}

.input-text .icon{
    width: 1.2rem;
    position: absolute;
    left: .7rem;
    top: .5rem;
    color: #6e6e6e;
    transition: all .3s ease-in-out;
}

input[type="text"]{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

input[type="text"]::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 2rem;
    transition: all .2s ease-in-out;
}

input[type="text"]:focus::placeholder{
    color: transparent;
}

input[type="text"]:focus{
    padding-left: 1rem;
    background: #686DE0;
	box-shadow: inset 5px 5px 10px #5256b1,
				inset -5px -5px 10px #7e84ff;
    color:white;
}

input[type="text"]:focus + .icon{
    transform: translateX(.8rem);
    color: transparent;
}

input[type="text"]:not(:placeholder-shown){
    padding-left: 1rem;
}

input[type="text"]:not(:placeholder-shown) + .icon{
    color: transparent;
}

.input-error{
    border: 1px solid #C2282D !important;
}

.input-error::placeholder{
    color: #C2282D !important;
}

.input-error:focus::placeholder{
    color: transparent !important;
}

.input-error + .icon {
    color: #C2282D ;
    width: 1.3rem;
}