.tabs{
    display: flex;
    flex-direction: row;
    gap:1rem;
}

@media (max-width: 640px) {
    .tabs{
        flex-direction: column;
        transition: all .3s linear;
        display: flex !important;
    }

    .float-show{
        bottom:120px;
        right:75px;
        transform: scale(1);
    }

    .float-hidden{
        bottom:-40px;
        right:75px;
        transform: scale(0);
    }
}