.wrapper-todolist{
    width: 800px;
    height: 700px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
    padding: 2rem;
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Responsive */
/* For Mobile Device */
@media (max-width: 640px) {
    .wrapper-todolist{
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 2rem 1rem;
    }
}